h1, h5, label, #selectBtnIng, #selectBtnBrand, #selectBtnSkinType {
    font-family: "Libre Baskerville", serif;
    /* font-style: italic; */
}

#selectBtnIng, #selectBtnBrand, #selectBtnSkinType {
    font-size: 14px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
}
