h1, h5, label, #selectBtnIng, #selectBtnBrand, #selectBtnSkinType, .legend-item p {
    font-family: "Libre Baskerville", serif;
}

#selectBtnIng, #selectBtnBrand, #selectBtnSkinType, .legend-item p {
    font-size: 14px;
    cursor:pointer;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
}

#legend {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 50px;
}

.legend-item {
    display: flex;
    align-items: start;
    margin-bottom: 8px;
    cursor:pointer;
}

.legend-rect {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.legend-item p {
    margin: 0;
    /* Remove default margin */
}

.crossed-out {
    text-decoration: line-through;
}